@model F1WebSite.ViewModels.DriversViewModel
@{
    ViewData["Title"] = "F1 Teams";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styleDriver.css">
    <link rel="stylesheet" href="~/css/shared.css">
</head>
<body>
    <div class="F1-title">
        <h1>F1 Drivers 2024</h1>
        <p>
            Check out this season's official F1 line-up. Full breakdown of drivers, points, and current positions.
            Follow your favourite F1 drivers on and off the track.
        </p>
        <button id="addDriverButton" class="addButton" onclick="togglePopup()">Add a new Driver</button>@* opens a pop-up with a form that asks the driver info *@

            <div id="myPopup" class="popup">
                <h2>Add a New Driver</h2>
                <div class="form">
                    <label for="driverName">Driver Name:</label>
                    <input type="text" id="nameOfDriver" name="name" required />
           @*      @Html.LabelFor(model => model.NewDriver.name)
                @Html.EditorFor(model => model.NewDriver.name) *@
                <label for="driverSurname">Driver Surname:</label>
                    <input type="text" id="surnameOfDriver" name="surname" required />

                    <label for="number">Driver number:</label>
                    <input type="text" id="number" name="number" required />

                    <label for="nationality">Driver nationality:</label>
                    <input type="text" id="nationality" name="nationality" required />
                    <label for="team">Team:</label>
                    <select id="team" name="team" required>
                        <option value="" disabled selected>Select a team</option>
                        @foreach (var team in Model.Teams)
                        {
                            <option value="@team.teamId">@team.TeamName</option>
                        }
                    </select>
                    <label for="season">Season:</label>
                    <select id="season" name="season" required>
                        <option value="" disabled selected>Select a season</option>
                        @foreach (var season in Model.Seasons)
                        {
                            <option value="@season.seasonId">@season.year</option>
                        }
                    </select>
                </div>
            <div class="popButton-container">
                <button type="button" class="popButton" onclick="submitDriver()">Submit</button>
                <button type="button" class="popButton" onclick="closePopup()">Cancel</button>
            </div>
            
            </div>

            <div class="overlay" onclick="closePopup()"></div>


    </div>
    <div class="driver-container">

        @{
            var sortedDrivers = Model.Drivers
            .OrderByDescending(driver => Model.DriverTeams
            .FirstOrDefault(d => d.driverTeamId == driver.DriverTeamId)?.points ?? 0)
            .ToList();
            int pos = 1;
        }

        @foreach (var driver in sortedDrivers)
        {
            if (!string.IsNullOrWhiteSpace(driver.name) && !string.IsNullOrWhiteSpace(driver.surname))
            {
                Team currentTeam = Model.Teams.FirstOrDefault(t => t.teamId == driver.teamId);
                DriverTeam currentDriverTeam = Model.DriverTeams.FirstOrDefault(d => d.driverTeamId == driver.DriverTeamId);
                var teamColor = currentTeam?.teamColor;
                <div class="driver-card" style="--team-border-color: @teamColor;">
                        <div class="driver-name">
                            <p>@driver.name @driver.surname</p>
                            <img src="https://media.formula1.com/image/upload/content/dam/fom-website/2018-redesign-assets/Flags%2016x9/@driver.Nationality-flag.png"
                            alt="@driver.Nationality" class="flag"
                            onerror="this.style.display='none';" />
                        </div>
                    <div class="driver-image">
                        <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/@driver.surname"
                        alt="@driver.name @driver.surname"
                        class="team-logo"
                        onerror="this.src='/img/Unknown_person.jpg'; this.onerror=null;" />
                    </div>

                    <div class="driver-info">
                        <div class="left">
                            <p>@driver.Number</p>
                            <p>pos: @pos</p>
                        </div>
                        <div class="right">
                            <p>@currentTeam.TeamName</p>
                            <p>@currentDriverTeam.points pt</p>
                        </div>
                    </div>

                    
                </div>
                pos++;
            }
        }
    </div>

    <script>
          </script>

</body>
