@model F1WebSite.ViewModels.DriversViewModel
@{
    ViewData["Title"] = "F1 Drivers 2024";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styleDriver.css">
</head>
<body>
    <div class="F1-title">
        @{
            Team currentTeam = Model.Teams.FirstOrDefault(t => t.teamId == Model.Drivers.First().teamId);
        }

        <h1>
            @currentTeam.TeamName
        </h1>
        
    </div>

    <div class="driver-container">
        @foreach (var driver in Model.Drivers)
        {
            if (driver.name != null)
            {

                var teamColor = currentTeam.teamColor;

                <div class="driver-card" style="--team-border-color: @teamColor;">
                    <div class="driver-info">
                        <div class="driver-name">
                            <p>@driver.name @driver.surname</p>
                            <img src="https://media.formula1.com/image/upload/content/dam/fom-website/2018-redesign-assets/Flags%2016x9/@driver.Nationality-flag.png"
                                 alt="@driver.Nationality" class="flag" />
                        </div>
                    </div>
                    <div class="driver-image">
                        <img src="https://media.formula1.com/image/upload/f_auto,c_limit,q_75,w_1320/content/dam/fom-website/drivers/2024Drivers/@driver.surname"
                        alt="@driver.name @driver.surname"
                        class="team-logo"
                        onerror="this.src='/img/Unknown_person.jpg'; this.onerror=null;" />
                    </div>
                    <div class="driver-info">
                        <p>@driver.Number</p>
                        <p>@currentTeam.TeamName</p>
                    </div>
                </div>
            }

        }

    </div>

</body>
</html>
